node_modules
.idea/
.DS_STORE
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.log
log.txt
npm-debug.log*
.DS_Store

.gradle
build

ios/Pods
ios/build
ios/public
ios/Podfile.lock
xcuserdata

dist

android/.idea
android/.gradle
android/local.properties
android/*.iml
