<ion-header>
  <ion-toolbar>
    <ion-title>TERMINAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header><ion-label>PROCESS</ion-label></ion-list-header>
    <ion-item-divider><ion-label>Happy Path</ion-label></ion-item-divider>
    <ion-item
      (click)="create('happyPath', terminalConnectTypes.TapToPay)"
      button="true"
      detail="true"
      ><ion-label>Expect Happy Path - Tap To Pay</ion-label></ion-item
    >
    <ion-item
      (click)="create('happyPath', terminalConnectTypes.Internet)"
      button="true"
      detail="true"
      ><ion-label>Expect Happy Path - Internet</ion-label></ion-item
    >
    <ion-item
      (click)="create('happyPath', terminalConnectTypes.Bluetooth)"
      button="true"
      detail="true"
      ><ion-label>Expect Happy Path - Bluetooth</ion-label></ion-item
    >
    @if (platform.is("android")) {
      <ion-item
        (click)="create('happyPath', terminalConnectTypes.Usb)"
        button="true"
        detail="true"
        ><ion-label>Expect Happy Path - Usb</ion-label></ion-item
      >
    }
    <ion-item-divider><ion-label>Cancel Path</ion-label></ion-item-divider>
    <ion-item
      (click)="create('cancelPath', terminalConnectTypes.Internet)"
      button="true"
      detail="true"
      ><ion-label>Expect Cancel Path - Internet</ion-label></ion-item
    >
    <ion-item
      (click)="create('cancelPath', terminalConnectTypes.Bluetooth)"
      button="true"
      detail="true"
      ><ion-label>Expect Cancel Path - Bluetooth</ion-label></ion-item
    >
    @if (platform.is("android")) {
      <ion-item
        (click)="create('cancelPath', terminalConnectTypes.Usb)"
        button="true"
        detail="true"
        ><ion-label>Expect Cancel Path - Usb</ion-label></ion-item
      >
    }
    <ion-item (click)="checkDiscoverMethod()" button="true" detail="true"
      ><ion-label>checkDiscoverMethod</ion-label></ion-item
    >
  </ion-list>

  @if (eventItems.length > 0) {
    <ion-list>
      <ion-list-header><ion-label>EXPECT</ion-label></ion-list-header>
      @for (item of eventItems; track item; let i = $index) {
        <ion-item [lines]="eventItems.length - 1 === i ? 'full' : undefined">
          <ion-icon
            slot="start"
            [name]="
              item.type === 'method'
                ? 'play-outline'
                : 'notifications-circle-outline'
            "
          ></ion-icon>
          <ion-label>{{ item.name }}</ion-label>
          @if (item.result !== undefined) {
            <ion-icon
              slot="end"
              name="checkmark-circle"
              [color]="item.result ? 'success' : 'danger'"
            ></ion-icon>
          }
        </ion-item>
      }
    </ion-list>
  }
</ion-content>
