<ion-header><ion-toolbar></ion-toolbar></ion-header>
<ion-content>
  <div id="container">
    <h2>{{ amountService.amountDisplay() | currency  }}</h2>
    How would you like to receive a receipt?
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button class="ion-margin button-square" expand="block" routerLink="/email">Email</ion-button>
    <ion-button class="ion-margin button-square" expand="block" [disabled]="true">SMS</ion-button>
    <ion-button class="ion-margin button-square" expand="block" [disabled]="true">Print</ion-button>
    <ion-button class="ion-margin button-square" expand="block" color="light" (click)="finishPayment()">No receipt</ion-button>
  </ion-toolbar>
</ion-footer>
