<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      <ion-label>DEMO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="tablet-landscape-outline"></ion-icon>
      <ion-label>SHEET</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="copy-outline"></ion-icon>
      <ion-label>FLOW</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
