name: Build

on:
- push

jobs:
  verify-demo:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'zulu'
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: Use cached node_modules
      uses: actions/cache@v4
      with:
        path: ~/.npm
        key: ${{ runner.os }}-v1-dependencies-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-v1-dependencies-

    - name: Build Payment package
      run: npm install && npm run build
      working-directory: ./packages/payment

    - name: Build Identity package
      run: npm install && npm run build
      working-directory: ./packages/identity

    - name: Build Terminal package
      run: npm install && npm run build
      working-directory: ./packages/terminal

    #- name: Test web implementation
    #  working-directory: ./packages/plugin
    #  env:
    #    STRIPE_PUBLISHABLE_KEY: ${{ secrets.STRIPE_PUBLISHABLE_KEY }}
    #    STRIPE_SECRET_KEY: ${{ secrets.STRIPE_SECRET_KEY }}
    #  run: npm test

    - name: Install test app node_modules
      working-directory: ./demo/angular
      run: npm install && npm run cap

    - name: Build test React app
      working-directory: ./demo/react
      run: npm install -f && npm run build

    - name: Update & Sync Capacitor Project
      working-directory: ./demo/angular
      run: npx cap update android

    - name: Build Android Debug APK
      working-directory: ./demo/angular/android
      run: ./gradlew assembleDebug

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        path: ./demo/angular/android/app/build/outputs/apk/debug/app-debug.apk

  verify-payment-android:
    runs-on: ubuntu-latest
    steps:
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: npm install
        run: npm install
        working-directory: ./packages/payment
      - name: verify
        run: npm run verify:android
        working-directory: ./packages/payment

  verify-identity-android:
    runs-on: ubuntu-latest
    steps:
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: npm install
        run: npm install
        working-directory: ./packages/identity
      - name: verify
        run: npm run verify:android
        working-directory: ./packages/identity


  verify-terminal-android:
    runs-on: ubuntu-latest
    steps:
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: npm install
        run: npm install
        working-directory: ./packages/terminal
      - name: verify
        run: npm run verify:android
        working-directory: ./packages/terminal
